html, body {
    font-family: Helvetica, sans-serif;
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.content {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 10% 80% 5% 5%;
    grid-template-areas: 
    ". header header ."
    ". main main ."
    ". sidebar sidebar ."
    ". footer footer .";
  }

.title {
    grid-area: header;
    justify-self: center;
    align-self: end;
    z-index: 999;
    color: white;
}

#discography {
    grid-area: sidebar;
    justify-self: center;
    align-self: center;
    /* margin-left: 60%; */
    /* margin-top: 10%; */
}
.discography-title {
    /* margin: 0; */
    /* margin-left: 10%; */
}

.discography-item {
    /* margin: 0; */
    /* margin-top: 5%; */
    /* margin-bottom: 5%; */
    /* margin-left: 20%; */
}

#socialmedia {
    grid-area: footer;
    /* justify-self: center; */
    /* justify-items: center; */
    /* align-self: end; */
    /* align-items: center; */
    /* margin-left: 33%; */
    /* margin-top: 5%; */
    margin-bottom: 2%;
    z-index: 999;
    display: grid;
    grid-template-columns: 12.5%;
    grid-template-rows: auto;
    grid-template-areas: "spotify apple bandcamp soundcloud youtube instagram tiktok mail";
}
.spotify {
    grid-area: spotify;
    justify-self: center;
}
.apple {
    grid-area: apple;
    justify-self: center;
}
.bandcamp {
    grid-area: bandcamp;
    justify-self: center;
}
.soundcloud {
    grid-area: soundcloud;
    justify-self: center;
}
.youtube {
    grid-area: youtube;
    justify-self: center;
}
.instagram {
    grid-area: instagram;
    justify-self: center;
}
.tiktok {
    grid-area: tiktok;
    justify-self: center;
}
.mail {
    grid-area: mail;
    justify-self: center;
}
#socialmedia > a {
    margin: 1%;
}

.links {
    text-decoration: none;
    color: rgba(245, 245, 245, 0.913);
}
.links:hover {
    color: rgba(181, 181, 181, 0.833);
}


.canvas {
    display: block;
    position: absolute;
    /* background: #060024; THIS IS A REALLY NICE COLOR */
    background: #01152e;
}

.canvas-container {
    display: block;
    position: relative;
}

