/* General Settings */
html, body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-size: 16px; /* Base font size for better readability */
  overflow: hidden;
}

/* Canvas */
.canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Main Content Container */
.content {
  z-index: 1000;
  position: absolute; /* Ensuring it's above the canvas */
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas: 
    "social"
    "discography";
  grid-template-rows: 50%  50%; /* Social media links will take the space they need, rest will be for discography */
  justify-items: center;
  /* align-content: center; */
  /* overflow: scroll; */
}

/* Title */
.title {
  color: white;
  text-align: center;
  margin-bottom: 2rem;
}

/* Discography */
#discography {
  grid-area: discography;
  width: 75vw;
  overflow: scroll;
  margin-top: 4vh;
}

#discography a {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  transition: all 1.5s ease; /* smooth transition for hover effects */
}

#discography a:hover {
  transform: scale(1.02); /* slightly enlarge the element */
  filter: brightness(0.9); /* increase brightness */
}

#discography img {
  width: 100%;
  height: auto;
}

/* Social Media Links */
#socialmedia {
  grid-area: social;
  margin-top: 2vh;
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(40px, 1fr)); /* Adaptable rows based on content */
  justify-items: center;
  gap: 1rem;
}

.social-header {
  font-size: 1.2rem;  /* Increased font size from 1.2rem to 1.5rem */
}

#socialmedia {
  color: white;
}

#socialmedia a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5vw 6vh; /* Adding some padding */
  border: 1px solid rgba(253, 251, 251, 0.667); /* Soft border */
  border-radius: 15px; /* Rounded corners */
}

#socialmedia i {
  font-size: 1.5rem;
}

.links {
  text-decoration: none;
  color: rgba(245, 245, 245, 0.913);
  font-size: 1.2rem; 
}

.links:hover {
  color: rgba(181, 181, 181, 0.833);
}

.scroll-indicator {
  display: none;
}