.container-fluid{
  background-color: #BDBDBD;
  color: #ffffff;
}
#personal-header{
  padding-top: 5%;
  padding-bottom: 3%;
  padding-left: 3%;
  text-align: left;
  
}

#personal-detail{
  background-color: #474e5d;
  padding-top: 0%;
  padding-bottom: 5%;
  color:#ffffff;
  

}
ol {
  font-family: sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
  position: fixed;
  width:100%;
  z-index: 1;
}

li {
  float: right;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
  /*background-color: #111;*/
  text-decoration: none;
  color:#909090;
  /*color:#ffffff;*/
}
.active{
  background-color: #00C284;
}

#links{
  background-color: #837F60;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  color:#ffffff;

}
