body{
    margin: 0;
    padding: 0;
    /* display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas:"nav nav nav nav"
                        ". header figure ."
                        ". section section ."
                        "footer footer footer footer";

    font-family: sans-serif; */
}
