html,body
{
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    background-color: rgb(243, 243, 243);
}
#personal-header .col-sm-12{
    padding-top: 5%;
    text-align: center;
    padding-bottom:1%;
}
#personal-detail{
    padding-top:5%;
}



.item img{
    height: 90%;
    width: 100%;
}